<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="table table-responsive">
                <tbody id="articles">
                    {{#each articles}}{{#unless this.read}}
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="container">
                                    <tr>
                                        <td>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    {{this.title}} ({{this.source}})
                                                        <div class="form-check">
                                                            <label class="form-check-label">
                                                                <input class="form-check-input makeRead" type="checkbox" value="{{this._id}}">
                                                                    Mark as read (will be hidden automatically)
                                                            </label>
                                                        </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-2">                                            
                                                    <img src='{{this.image}}'>
                                                </div>
                                                <div class="col-sm-7">
                                                    {{#if this.summary}}
                                                        Summary: {{this.summary}}<br>
                                                    {{/if}}
                                                    {{#if this.author}}
                                                        Author: {{this.author}}<br>
                                                    {{/if}}
                                                    {{#if this.dateline}}
                                                        Dateline: {{this.dateline}}<br>
                                                    {{/if}}
                                                    <a href="{{this.link}}">Full article</a><br>
                                                </div>
                                                <div class="col-sm-3">
                                                    <!-- Button trigger comment modal -->
                                                    <button type="button" class="btn btn-primary btn-sm makeComment" data-toggle="modal" data-target="#commentModal" value='{{this._id}}'>
                                                        Comment
                                                    </button>
                                                </div>
                                            </div>
                                            {{#if this.comment}}
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        Comment: {{this.comment.text}}
                                                    </div>
                                                </div>
                                            {{/if}}
                                        </div>
                                    </td>
                                </tr>
                            </div>
                        </div>
                    {{/unless}}{{/each}}
                </tbody>
            </div>
        </div>
    </div>
</div>