<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="table table-responsive">
                <tbody id="articles">
                    {{#each articles}}{{#unless this.read}}
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="container">
                                    <tr>
                                        <td>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    {{this.title}}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-2">                                            
                                                    <img src='{{this.image}}'>
                                                </div>
                                                <div class="col-sm-7">
                                                    Summary: {{this.summary}}<br>
                                                    Author: {{this.author}}<br>
                                                    Dateline: {{this.dateline}}<br>
                                                    <a href="{{this.link}}">Full article</a><br>
                                                </div>
                                                <div class="col-sm-3">
                                                    <button type="submit" class="makeComment" value='{{this._id}}'>Comment</button>
                                                </div>
                                            </div>
                                            {{#if this.comment}}
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        Comment: {{this.comment.text}}
                                                    </div>
                                                </div>
                                            {{/if}}
                                        </div>
                                    </td>
                                </tr>
                            </div>
                        </div>
                    {{/unless}}{{/each}}
                </tbody>
            </div>
        </div>
    </div>
</div>